In [44]:
!pip install transformers

Requirement already satisfied: transformers in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (4.39.3)
Requirement already satisfied: filelock in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (3.12.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.19.3 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (0.22.2)
Requirement already satisfied: numpy>=1.17 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (1.24.4)
Requirement already satisfied: packaging>=20.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (22.0)
Requirement already satisfied: pyyaml>=5.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (2.28.2)
Requirement already satisfied: tokenizers<0.19,>=0.14 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (0.15.2)
Requirement already satisfied: safetensors>=0.4.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (0.4.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from transformers) (4.64.1)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub<1.0,>=0.19.3->transformers) (2024.2.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub<1.0,>=0.19.3->transformers) (4.9.0)
Requirement already satisfied: colorama in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (2022.12.7)

In [45]:
from transformers import pipeline

In [46]:
from transformers import AutoModel,AutoTokenizer

In [47]:
model = AutoModel.from_pretrained('finiteautomata/bertweet-base-sentiment-analysis')

Some weights of RobertaModel were not initialized from the model checkpoint at finiteautomata/bertweet-base-sentiment-analysis and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [48]:
tokenizer = AutoTokenizer.from_pretrained('finiteautomata/bertweet-base-sentiment-analysis')

emoji is not installed, thus not converting emoticons or emojis into text. Install emoji: pip3 install emoji==0.6.0

In [49]:
model

RobertaModel(
  (embeddings): RobertaEmbeddings(
    (word_embeddings): Embedding(64001, 768, padding_idx=1)
    (position_embeddings): Embedding(130, 768, padding_idx=1)
    (token_type_embeddings): Embedding(1, 768)
    (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (encoder): RobertaEncoder(
    (layer): ModuleList(
      (0-11): 12 x RobertaLayer(
        (attention): RobertaAttention(
          (self): RobertaSelfAttention(
            (query): Linear(in_features=768, out_features=768, bias=True)
            (key): Linear(in_features=768, out_features=768, bias=True)
            (value): Linear(in_features=768, out_features=768, bias=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (output): RobertaSelfOutput(
            (dense): Linear(in_features=768, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
        (intermediate): RobertaIntermediate(
          (dense): Linear(in_features=768, out_features=3072, bias=True)
          (intermediate_act_fn): GELUActivation()
        )
        (output): RobertaOutput(
          (dense): Linear(in_features=3072, out_features=768, bias=True)
          (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
          (dropout): Dropout(p=0.1, inplace=False)
        )
      )
    )
  )
  (pooler): RobertaPooler(
    (dense): Linear(in_features=768, out_features=768, bias=True)
    (activation): Tanh()
  )
)

In [50]:
tokenizer

BertweetTokenizer(name_or_path='finiteautomata/bertweet-base-sentiment-analysis', vocab_size=64000, model_max_length=128, is_fast=False, padding_side='right', truncation_side='right', special_tokens={'bos_token': '<s>', 'eos_token': '</s>', 'unk_token': '<unk>', 'sep_token': '</s>', 'pad_token': '<pad>', 'cls_token': '<s>', 'mask_token': '<mask>'}, clean_up_tokenization_spaces=True),  added_tokens_decoder={
	0: AddedToken("<s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	1: AddedToken("<pad>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	2: AddedToken("</s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	3: AddedToken("<unk>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	64000: AddedToken("<mask>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
}

In [51]:
from transformers import AutoModelForSequenceClassification

In [52]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [53]:
df = pd.read_csv(r"C:\Users\Akshay D Saonerkar\OneDrive\Desktop\NLP Projects\Amazon_Review.csv")
df.head(1)

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.didPurchase,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,NaN,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter

In [54]:
df = df[['reviews.text','reviews.rating']]
df.head()

                                        reviews.text  reviews.rating
0  This product so far has not disappointed. My c...             5.0
1  great for beginner or experienced person. Boug...             5.0
2  Inexpensive tablet for him to use and learn on...             5.0
3  I've had my Fire HD 8 two weeks now and I love...             4.0
4  I bought this for my grand daughter when she c...             5.0

In [55]:
df['label'] = [1 if i > 3.0 else 0 for i in df['reviews.rating']]

In [56]:
df.head()

                                        reviews.text  reviews.rating  label
0  This product so far has not disappointed. My c...             5.0      1
1  great for beginner or experienced person. Boug...             5.0      1
2  Inexpensive tablet for him to use and learn on...             5.0      1
3  I've had my Fire HD 8 two weeks now and I love...             4.0      1
4  I bought this for my grand daughter when she c...             5.0      1

In [57]:
df['label'].value_counts()

1    32316
0     2344
Name: label, dtype: int64

In [58]:
dict1 = {'reviews.text':'text','reviews.rating':'rating','label':'label'}

In [59]:
df.replace(dict1,inplace = True)

In [60]:
df.rename(columns={'reviews.text':'text','reviews.rating':'rating','label':'label'},inplace = True)

In [61]:
df.head()

                                                text  rating  label
0  This product so far has not disappointed. My c...     5.0      1
1  great for beginner or experienced person. Boug...     5.0      1
2  Inexpensive tablet for him to use and learn on...     5.0      1
3  I've had my Fire HD 8 two weeks now and I love...     4.0      1
4  I bought this for my grand daughter when she c...     5.0      1

In [62]:
df = df[['text','label']]

In [63]:
df.head()

                                                text  label
0  This product so far has not disappointed. My c...      1
1  great for beginner or experienced person. Boug...      1
2  Inexpensive tablet for him to use and learn on...      1
3  I've had my Fire HD 8 two weeks now and I love...      1
4  I bought this for my grand daughter when she c...      1

In [64]:
for i in df['text'][0:5]:
    print(i)
    print('*' * 10)

This product so far has not disappointed. My children love to use it and I like the ability to monitor control what content they see with ease.
**********
great for beginner or experienced person. Bought as a gift and she loves it
**********
Inexpensive tablet for him to use and learn on, step up from the NABI. He was thrilled with it, learn how to Skype on it already...
**********
I've had my Fire HD 8 two weeks now and I love it. This tablet is a great value.We are Prime Members and that is where this tablet SHINES. I love being able to easily access all of the Prime content as well as movies you can download and watch laterThis has a 1280/800 screen which has some really nice look to it its nice and crisp and very bright infact it is brighter then the ipad pro costing $900 base model. The build on this fire is INSANELY AWESOME running at only 7.7mm thick and the smooth glossy feel on the back it is really amazing to hold its like the futuristic tab in ur hands.
**********
I bought this for my grand daughter when she comes over to visit. I set it up with her as the user, entered her age and name and now Amazon makes sure that she only accesses sites and content that are appropriate to her age. Simple to do and she loves the capabilities. I also bought and installed a 64gig SD card which gives this little tablet plenty of storage. For the price I think this tablet is best one out there. You can spend hundreds of dollars more for additional speed and capacity but when it comes to the basics this tablets does everything that most people will ever need at a fraction of the cost.
**********

In [65]:
df.head()

                                                text  label
0  This product so far has not disappointed. My c...      1
1  great for beginner or experienced person. Boug...      1
2  Inexpensive tablet for him to use and learn on...      1
3  I've had my Fire HD 8 two weeks now and I love...      1
4  I bought this for my grand daughter when she c...      1

In [66]:
from nltk.tokenize import word_tokenize
import re

In [67]:
## removing unwanted characters and html tags
def html(n):
    res = re.sub('[^a-zA-Z]','',str(n))
    res = re.sub('\d','',str(n))
    res = re.sub('/.\'','',str(n))
    return res

In [68]:
df['text'] = df['text'].apply(html)

In [69]:
df.head()

                                                text  label
0  This product so far has not disappointed. My c...      1
1  great for beginner or experienced person. Boug...      1
2  Inexpensive tablet for him to use and learn on...      1
3  I've had my Fire HD 8 two weeks now and I love...      1
4  I bought this for my grand daughter when she c...      1

In [70]:
df['text'] = [word_tokenize(i) for i in df['text']]

In [71]:
df.head()

                                                text  label
0  [This, product, so, far, has, not, disappointe...      1
1  [great, for, beginner, or, experienced, person...      1
2  [Inexpensive, tablet, for, him, to, use, and, ...      1
3  [I, 've, had, my, Fire, HD, 8, two, weeks, now...      1
4  [I, bought, this, for, my, grand, daughter, wh...      1

In [72]:
for i in df['text'][0:5]:
    print(i)
    print("*" * 10)

['This', 'product', 'so', 'far', 'has', 'not', 'disappointed', '.', 'My', 'children', 'love', 'to', 'use', 'it', 'and', 'I', 'like', 'the', 'ability', 'to', 'monitor', 'control', 'what', 'content', 'they', 'see', 'with', 'ease', '.']
**********
['great', 'for', 'beginner', 'or', 'experienced', 'person', '.', 'Bought', 'as', 'a', 'gift', 'and', 'she', 'loves', 'it']
**********
['Inexpensive', 'tablet', 'for', 'him', 'to', 'use', 'and', 'learn', 'on', ',', 'step', 'up', 'from', 'the', 'NABI', '.', 'He', 'was', 'thrilled', 'with', 'it', ',', 'learn', 'how', 'to', 'Skype', 'on', 'it', 'already', '...']
**********
['I', "'ve", 'had', 'my', 'Fire', 'HD', '8', 'two', 'weeks', 'now', 'and', 'I', 'love', 'it', '.', 'This', 'tablet', 'is', 'a', 'great', 'value.We', 'are', 'Prime', 'Members', 'and', 'that', 'is', 'where', 'this', 'tablet', 'SHINES', '.', 'I', 'love', 'being', 'able', 'to', 'easily', 'access', 'all', 'of', 'the', 'Prime', 'content', 'as', 'well', 'as', 'movies', 'you', 'can', 'download', 'and', 'watch', 'laterThis', 'has', 'a', '1280/800', 'screen', 'which', 'has', 'some', 'really', 'nice', 'look', 'to', 'it', 'its', 'nice', 'and', 'crisp', 'and', 'very', 'bright', 'infact', 'it', 'is', 'brighter', 'then', 'the', 'ipad', 'pro', 'costing', '$', '900', 'base', 'model', '.', 'The', 'build', 'on', 'this', 'fire', 'is', 'INSANELY', 'AWESOME', 'running', 'at', 'only', '7.7mm', 'thick', 'and', 'the', 'smooth', 'glossy', 'feel', 'on', 'the', 'back', 'it', 'is', 'really', 'amazing', 'to', 'hold', 'its', 'like', 'the', 'futuristic', 'tab', 'in', 'ur', 'hands', '.']
**********
['I', 'bought', 'this', 'for', 'my', 'grand', 'daughter', 'when', 'she', 'comes', 'over', 'to', 'visit', '.', 'I', 'set', 'it', 'up', 'with', 'her', 'as', 'the', 'user', ',', 'entered', 'her', 'age', 'and', 'name', 'and', 'now', 'Amazon', 'makes', 'sure', 'that', 'she', 'only', 'accesses', 'sites', 'and', 'content', 'that', 'are', 'appropriate', 'to', 'her', 'age', '.', 'Simple', 'to', 'do', 'and', 'she', 'loves', 'the', 'capabilities', '.', 'I', 'also', 'bought', 'and', 'installed', 'a', '64gig', 'SD', 'card', 'which', 'gives', 'this', 'little', 'tablet', 'plenty', 'of', 'storage', '.', 'For', 'the', 'price', 'I', 'think', 'this', 'tablet', 'is', 'best', 'one', 'out', 'there', '.', 'You', 'can', 'spend', 'hundreds', 'of', 'dollars', 'more', 'for', 'additional', 'speed', 'and', 'capacity', 'but', 'when', 'it', 'comes', 'to', 'the', 'basics', 'this', 'tablets', 'does', 'everything', 'that', 'most', 'people', 'will', 'ever', 'need', 'at', 'a', 'fraction', 'of', 'the', 'cost', '.']
**********

In [73]:
sample_df = df[['label','text']]

In [74]:
sample_df

       label                                               text
0          1  [This, product, so, far, has, not, disappointe...
1          1  [great, for, beginner, or, experienced, person...
2          1  [Inexpensive, tablet, for, him, to, use, and, ...
3          1  [I, 've, had, my, Fire, HD, 8, two, weeks, now...
4          1  [I, bought, this, for, my, grand, daughter, wh...
...      ...                                                ...
34655      0  [This, is, not, appreciably, faster, than, any...
34656      0  [Amazon, should, include, this, charger, with,...
34657      0  [Love, my, Kindle, Fire, but, I, am, really, d...
34658      0  [I, was, surprised, to, find, it, did, not, co...
34659      0  [to, spite, the, fact, that, i, have, nothing,...

[34660 rows x 2 columns]

In [75]:
sample_df.to_csv('review.csv',index=False)

In [76]:
!pip install datasets

Requirement already satisfied: datasets in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (2.18.0)
Requirement already satisfied: filelock in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.12.2)
Requirement already satisfied: numpy>=1.17 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (1.24.4)
Requirement already satisfied: pyarrow>=12.0.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (15.0.2)
Requirement already satisfied: pyarrow-hotfix in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.6)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (1.5.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (2.28.2)
Requirement already satisfied: tqdm>=4.62.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (4.64.1)
Requirement already satisfied: xxhash in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.4.1)
Requirement already satisfied: multiprocess in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2024.2.0,>=2023.1.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from fsspec[http]<=2024.2.0,>=2023.1.0->datasets) (2024.2.0)
Requirement already satisfied: aiohttp in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.9.3)
Requirement already satisfied: huggingface-hub>=0.19.4 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.22.2)
Requirement already satisfied: packaging in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (22.0)
Requirement already satisfied: pyyaml>=5.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from datasets) (6.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (22.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (1.9.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub>=0.19.4->datasets) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->datasets) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->datasets) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->datasets) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->datasets) (2022.12.7)
Requirement already satisfied: colorama in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.62.1->datasets) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from pandas->datasets) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\akshay d saonerkar\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)

In [77]:
from datasets import load_dataset

In [78]:
data = load_dataset('csv',data_files='review.csv')

Generating train split: 0 examples [00:00, ? examples/s]

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
train_test = data['train'].train_test_split(test_size = 0.2,seed = 42)

In [81]:
train_test

DatasetDict({
    train: Dataset({
        features: ['label', 'text'],
        num_rows: 27728
    })
    test: Dataset({
        features: ['label', 'text'],
        num_rows: 6932
    })
})

In [91]:
train_test['test']['text'][:1]

['[\'We\', \'use\', \'this\', \'as\', \'a\', \'hands\', \'free\', \'speaker\', \'in\', \'the\', \'kitchen\', \'.\', \'It\', \'is\', \'great\', \'for\', \'using\', \'Pandora\', \'and\', \'Amazon\', \'music\', \'.\', \'The\', \'only\', \'downfall\', \'to\', \'this\', \'product\', \'is\', \'that\', \'to\', \'take\', \'advantage\', \'of\', \'the\', \'many\', \'``\', \'skills\', "\'\'", \'Alexa\', \'can\', \'do\', \',\', \'you\', \'must\', \'memorize\', \'the\', \'specific\', \'prompt\', \'words\', \'for\', \'that\', \'particular\', \'skill\', \'.\', \'Besides\', \'that\', \',\', \'it\', \'is\', \'great\', \'and\', \'I\', \'recommend\', \'buying\', \'one\', \'!\']']

In [93]:
model_class = AutoModelForSequenceClassification.from_pretrained('finiteautomata/bertweet-base-sentiment-analysis')

In [95]:
classier = pipeline('text-classification',model = model_class,tokenizer=tokenizer)

In [96]:
predz = classier(train_test['test']['text'][:100],padding = True,truncation = True)

In [116]:
predz[1]

{'label': 'POS', 'score': 0.8924030065536499}

In [105]:
y_pred = []
for label in predz:
    if label['label'] == 'POS':
         y_pred.append(1)
    else:
        y_pred.append(0)

In [109]:
y_actual = train_test['test']['label'][:100]

In [112]:
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score

In [113]:
accuracy_score(y_pred,y_actual)

0.42

In [114]:
f1_score(y_actual,y_pred)

0.5797101449275363

In [115]:
confusion_matrix(y_actual,y_pred)

array([[ 2,  0],
       [58, 40]], dtype=int64)